{% extends 'client/base/base.html.twig' %}

{% block main %}

    <div class="container-fluid row">
        <div class="col-lg-12 col-md-12">
            {% include 'client/form_search.html.twig' %}
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="mt-3 blog_sidebar rounded">
                <div class="bg-white m-2 p-3">

                    <div class="widget mt-2">
                        <div class="sidebar_widget_title font-weight-bold text-uppercase">{{ 'domains'|trans }}</div>

                        <ul class="list-unstyled widget_list">
                            {% for d in domains %}
                                <li><a href="{{ path('web_domain_job',{slug:d.slug}) }}"><i class="mdi mdi-chevron-double-right"></i> {{ d.name }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>


                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 mt-2" >
            <div class="home-table">
                <div class="home-table-center">
                    <div class="container">

                        <ul class="list-group" id="job-list">
                            {% for u in jobs %}

                                <li class="list-group-item mb-1" style="display: block;background-color: #f6f7f9">

                                    <div class="comment_read mt-3 ml-0">
                                        <div class="comment_img">
                                            <img width="55" height="55" style="width: 55px;height: 55px" src="{% if u.role.code !="ROLE_MANAGER_COMPANY" %} {{ asset('assets/uploads/'~u.picture.path) }}{% else %} {{ asset('assets/uploads/'~u.company.logo.path) }} {% endif %}" alt="" class="img-fluid rounded-circle">
                                        </div>
                                        <div class="comment_data">
                                            <h6 >
                                                <a href="{{ path('web_profile_tech',{name:u.profileName,id:u.uid}) }}" class="text-dark d-block">
                                                    {% if u.role.code !="ROLE_MANAGER_COMPANY" %}
                                                        <span class="fa fa-user"></span> {{ u.name }}
                                                    {% else %}
                                                        <span class="fa fa-building"></span> {{ u.company.name }}
                                                    {% endif %}
                                                </a>

                                                <span class="text-muted font-weight-normal">
                                                    {{ u.date|date('y-m-d H:i:s')|timeago }}
                                                </span>

                                            </h6>
                                            <button data-id="{{ u.id }}" data-toggle="modal" data-target="#send-invitation"  class="btn btn-success pull-right send-invitation"> <span style="color: white!important;" class="list-apply-button ripple-effect">{{ 'send_invitation'|trans }}</span>





                                            </button>


                                            <p class="text-muted mb-0">

                                                <span class="fas fa-map-marker-alt"></span>
                                                {% if u.role.code !="ROLE_MANAGER_COMPANY" %}
                                                    {{ u.location.city }} , {{ u.location.quater }} -
                                                    <span class="fa fa-briefcase"></span>
                                                    {% for d1 in u.userDetail.domains %}
                                                      <span  class="badge badge-light">{{ d1.name }}</span>

                                                    {% endfor %}
                                                {% else %}
                                                    {{ u.company.location.city }} , {{ u.company.location.quater }} -
                                                    <span class="fa fa-briefcase"></span>
                                                    {% for d1 in u.company.domains %}
                                                        <span  class="badge badge-light">{{ d1.name }}</span>

                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                            <span class="pull-right" style="margin-top: -100px">

                                                {% if u.role.code =="ROLE_MANAGER_COMPANY"  %}


                                                    {% if u.company.note==0 %}

                                                    {% else %}
                                                        {% for i in 0..u.company.note-1 %}
                                                            <img src="{{ asset('assets/images/star_ok.png') }}" width="30" />
                                                        {% endfor %}

                                                    {% if u.company.note <5 %}
                                                        {% for i in 1..5-u.company.note %}
                                                            <img src="{{ asset('assets/images/star_no.png') }}" width="30" />
                                                        {% endfor %}

                                                    {% endif %}


                                                    {% endif %}
                                                {% else %}

                                                    {% if u.userDetail.note==0 %}

                                                    {% else %}
                                                        {% for i in 0..u.userDetail.note-1 %}
                                                            <img src="{{ asset('assets/images/star_ok.png') }}" width="30" />
                                                        {% endfor %}

                                                    {% if u.userDetail.note <5 %}
                                                        {% for i in 1..5-u.userDetail.note %}
                                                            <img src="{{ asset('assets/images/star_no.png') }}" width="30" />
                                                        {% endfor %}

                                                    {% endif %}


                                                    {% endif %}

                                                {% endif %}

                                            </span>




                                        </div>
                                    </div>

                                </li>

                            {% endfor %}
                        </ul>



                        {% if jobs|length == 0 %}

                            {{ 'no_result_found'|trans }}

                        {% endif %}
                        <button id="load-more"  class="btn btn-primary">{{ 'load_more'|trans }} </button><img id="loader" width="95" height="95" src="{{ asset('assets/images/loader.gif') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'client/modal_client_invitation.html.twig' %}


{% endblock %}

{% block js %}

    <script>
        $("#load-more").hide();
        $("#loader").hide();

        var nbItem="{{ jobs|length }}";


        var totalItem=parseInt(nbItem);

        if(nbItem>=4) $("#load-more").show();

        var offset = 4;


        $("#load-more").on("click",function () {

            $("#load-more").attr("disabled",true);
            $("#loader").show();



            $.ajax({
                type        : 'GET', // define the type of HTTP verb we want to use (POST for our form)
                url         : "{{ path('web_more_technicians') }}", // the url where we want to POST
                data        : {"offset":offset}, // our data object
                dataType    : 'json', // what type of data do we expect back from the server
                encode          : true,
                success : function(resultat, statut)
                {
                    $("#loader").hide();


                    if(resultat.users.length>0)
                    {
                        offset+=4;
                        totalItem+=resultat.users.length;
                        if(resultat.users.length<4)$("#load-more").hide();
                        else $("#load-more").attr("disabled",false);

                        let html="";

                        let url ="{{ url('web_profile_tech',{name:"axx",id:"ayy"}) }}";

                        let p_image="<li class=\"list-group-item mb-1\" style=\"display: block;background-color: #f6f7f9\">\n" +
                            "\n" +
                            "                                    <div class=\"comment_read mt-3 ml-0\">\n" +
                            "                                        <div class=\"comment_img\">\n" +
                            "                                            <img width=\"55\" height=\"55\" style=\"width: 55px;height: 55px\" src=\"";

                        let p_comp_name="\" alt=\"\" class=\"img-fluid rounded-circle\"> </div>\n" +
                            "                                        <div class=\"comment_data\">\n" +
                            "                                            <h6>\n" +
                            "                                                ";

                        let p_date="</a>\n" +
                            "                                                <span class=\"text-muted font-weight-normal\">";



                        let p_note="</p>\n" +
                            "                                            <span class=\"pull-right\" style=\"margin-top: -100px\">";

                        let p_end=" </span>\n" +
                            "\n" +
                            "\n" +
                            "\n" +
                            "\n" +
                            "                                        </div>\n" +
                            "                                    </div>\n" +
                            "\n" +
                            "                                </li>";




                        resultat.users.forEach(function (el) {
                            let p_location="</span>\n" +
                                "                                            </h6>\n" +
                                "<button data-toggle='modal' data-target='#send-invitation' data-id='"+el.id+"'"+ " class=\"btn btn-success pull-right send-invitation\"> <span style=\"color: white!important;\" class=\"list-apply-button ripple-effect\">{{ 'send_invitation'|trans }}</span></button>\n"+
                                " <p class=\"text-muted mb-0\"><span class=\"fas fa-map-marker-alt\"></span>";
                            var img="";
                            var i=0;
                            let domain="";
                            el.domains.forEach(function (a) {
                                domain =domain+" <span  class=\"badge badge-light\"> "+a+"</span>";

                            });
                            if(el.role.code == "ROLE_MANAGER_COMPANY")
                            {


                                if(el.company.note >0)
                                {
                                    for(i=0;i<=el.company.note-1;i++)
                                    {
                                        img=img+" <img src=\"{{ asset('assets/images/star_ok.png') }}\" width=\"30\" />";
                                    }

                                    for( i=1;i<=5-el.company.note;i++)
                                    {
                                        img=img+" <img src=\"{{ asset('assets/images/star_no.png') }}\" width=\"30\" />";
                                    }
                                }

                                let ur= url.replace('/axx',"/"+el.profile_name);
                                let u = ur.replace('/ayy',"/"+el.uid);




                                html =html+p_image+"{{ asset('assets/uploads/')}}/"+el.company.logo.path+
                                    p_comp_name+'<a href="'+u+'" class="text-dark d-block"><span class="fa fa-building"></span>'
                                    +el.company.name+p_date+el.date+p_location+el.company.location.city+" , "
                                    +el.company.location.quater+" - <span class=\"fa fa-briefcase\"></span> "+domain+p_note+img+p_end;
                            }
                            else {

                                if(el.user_detail.note>0)
                                {

                                    for(i=0;i<=el.user_detail.note-1;i++)
                                    {
                                        img=img+" <img src=\"{{ asset('assets/images/star_ok.png') }}\" width=\"30\" />";
                                    }

                                    for( i=1;i<=5-el.user_detail.note;i++)
                                    {
                                        img=img+" <img src=\"{{ asset('assets/images/star_no.png') }}\" width=\"30\" />";
                                    }
                                }

                                let ur= url.replace('/axx',"/"+el.profile_name);
                                let u = ur.replace('/ayy',"/"+el.uid);

                                // console.log(u);






                                html =html+p_image+"{{ asset('assets/uploads/')}}/"+el.picture.path+
                                    p_comp_name+'<a href="'+u+'" class="text-dark d-block"><span class="fa fa-user"></span>'+el.name+p_date+el.date+p_location+el.location.city+" , "
                                    +el.location.quater+" - <span class=\"fa fa-briefcase\"></span> "+domain+   p_note+img+p_end;

                            }



                        });

                        $("#job-list").append(html);

                        $("#counterm").attr("style","height:"+$(document).height()+"px");
                        $("#load-more").attr("disabled",false);



                    }
                    else
                    {
                        $("#load-more").attr("disabled",false);
                        $("#load-more").hide();
                    }



                },

                error : function(resultat, statut, erreur){
                    $("#loader").hide();
                    //console.log(resultat);

                }

            });



        });


        $('#send-invitation').on('show.bs.modal', function (event) {
            $("#main-loader").show();

            $("#main-invit").hide();
            $("#send-modal").hide();
            $("#job").html("");
            $('#main-message').html('');

            var button = $(event.relatedTarget); // Button that triggered the modal

            var recipient = button.data('id');

            $("#tech-id").attr("value",recipient);

            var modal = $(this);

            let url ="{{ url('web_client_job_for_invitation',{techId:"aaa"}) }}";
            let ur = url.replace('/aaa',"")+"/"+recipient;

            $.ajax({
                type        : 'GET', // define the type of HTTP verb we want to use (POST for our form)
                url         : ur, // the url where we want to POST
                data        : {}, // our data object
                dataType    : 'json', // what type of data do we expect back from the server
                encode          : true,
                success:function(resultat, statut)
                {
                    if(resultat.jobs.length>0)
                    {
                        let options="<option selected disabled  value=''>"+"--- {{ 'choose_job'|trans }} ---" +"</option>";

                        resultat.jobs.forEach(function (el) {

                            options = options +"<option value='"+el.id+"' >" +el.title+"</option>";

                        });

                        $("#job").append(options);
                        $("#main-loader").hide();

                        $("#main-invit").show();

                        $("#send-modal").show();


                    }
                    else
                    {
                        $("#main-loader").hide();
                        $('#main-message').html("{{ 'no_job_found'|trans }}");
                    }



                },
                error :function(resultat, statut)
                {
                    console.log(resultat);

                }

            })


           // modal.find('#id').text(recipient);











        });
    </script>

{% endblock %}
