{% extends 'client/base/base.html.twig' %}

{% block main %}
    <div class="wrapper compact-wrapper">

        {% include 'client/dashboard_nav.html.twig' %}



        <div class="main-panel " style="margin-top: -65px">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <div>
                                <h2 class="text-white pb-2 fw-bold">{{ 'user'|trans }}</h2>
                                {% if statut == true %}

                                    <div class="ml-md-auto py-2 py-md-0">
                                        <button type="button" data-toggle="modal" data-target="#user-valid" data-whatever="" id="user-accept" class="btn btn-white btn-border btn-round mr-2">{{ 'accept'|trans }}</button>
                                        <button type="button" data-toggle="modal" data-target="#user-valid" data-whatever="" id="user-refuse" class="btn btn-secondary btn-round">{{ 'refuse'|trans }}</button>
                                    </div>
                                {% endif %}


                            </div>

                        </div>
                    </div>
                </div>
                <div class="dash page-inner mt--5">

                    <div class="row container-fluid mb-5 mt-5">
                        <form>
                            {% if userp.role.code== "ROLE_MANAGER_COMPANY" %}
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>{% trans %}company{% endtrans %}</label>
                                        <input type="text" class="form-control" style="border: 1px #ced4da!important;"  disabled=""  value="
                                                        {% if userp.user_detail.is_company == true %}
                                                            {% if userp.user_detail.company is not null %}
                                                                {{ userp.user_detail.company.name }}
                                                            {% else %}
                                                                {{ 'company_not_added'|trans }}
                                                            {% endif %}
                                                        {% else %}
                                                        {{ 'independent'|trans }}
                                                        {% endif %}
                                                        ">
                                    </div>
                                </div>
                                <div class="col-md-6 px-1">
                                    <div class="form-group">
                                        <label>{{ 'role'|trans }}</label>
                                        <input disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="
                                                        {% if userp.user_detail.is_company== 1 %}
                                                        {{ 'employee'|trans }}
                                                        {% else %}
                                                        {{ 'manager'|trans }}
                                                        {% endif %}
                                                        ">
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>{{ 'first_name'|trans }}</label>
                                        <input disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.name }}">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>{{ 'last_name'|trans }}</label>
                                        <input disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.surname }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>{{ 'city'|trans }} </label>
                                        <input id="city" disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.location.city }}">

                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>{{ 'quater'|trans }} </label>
                                        <input id="quater" disabled type="text" class="form-control" style="border: 1px #ced4da!important;" value="{{ userp.location.quater }}">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>{{ 'street'|trans }}

                                        </label>
                                        <input  id="street" disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.location.detail }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>{{ 'email'|trans }} </label>
                                        <input id="email" disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.email }}">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>{{ 'phone'|trans }} </label>
                                        <input id="phone" disabled type="text" class="form-control" style="border: 1px #ced4da!important;"  value="{{ userp.phone }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-12 pb-3">
                                    <div class="form-group" >
                                        <label>{{ 'domains'|trans }}
                                            </label>
                                        <div class="form-control" style="border: 1px #ced4da!important;">
                                            {% for el in userp.user_detail.domains %}
                                                <span style="font-size: 18px" class="badge badge-info mb-2">{{ el.name }}</span>
                                            {% endfor %}



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ 'description'|trans }}
                                            </label>
                                        <textarea rows="8" disabled class="form-control textarea" style="border: 1px #ced4da!important;resize: none">{{ userp.user_detail.description }}</textarea>
                                    </div>
                                </div>
                            </div>

                            {% if app.user.id == userp.id or app.user.role.code in ["ROLE_ADMIN","ROLE_OPERATOR","ROLE_SADMIN","ROLE_MANAGER_COMPANY"]  %}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'cv'|trans}} </label>
                                            {% if userp.user_detail.cv is not null %}
                                                <a class="btn-custom" target="_blank" href="{{ asset('assets/uploads/'~userp.user_detail.cv.path) }}">{{ 'cv_show'|trans }}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'criminal_record'|trans}}
                                                </label>
                                            {% if userp.user_detail.criminal_record is not null %}
                                                <a target="_blank" class="btn-custom" href="{{ asset('assets/uploads/'~userp.user_detail.criminal_record.path) }}">{{ 'criminal_record_show'|trans }}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'cni_file'|trans}}
                                                </label>
                                            {% if userp.user_detail.cni_file is not null %}
                                                <a target="_blank" class="btn-custom" href="{{ asset('assets/uploads/'~userp.user_detail.cni_file.path) }}">{{ 'cni_file_show'|trans }}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                            {% endif %}


                        </form>
                    </div>

                </div>

            </div>
        </div>


        {% include 'client/modal_user_validation.html.twig' %}

    </div>



{% endblock %}

{% block js %}

    <script >
        $(document).ready(function() {

            $('#user-valid').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget); // Button that triggered the modal



                if(button[0].id == "user-accept")
                {

                    var modal = $(this);
                    modal.find('.modal-title').text("{{ 'accept_account'|trans }}");
                    var hid = "<input class='form-control' type='hidden' required value='1' name='answer' />";

                    modal.find('.modal-body form .main').html(hid);
                }

                if(button[0].id == "user-refuse")
                {
                    var modal = $(this);
                    modal.find('.modal-title').text("{{ 'refuse_account'|trans }}");
                    var hid = "<input class='form-control' type='hidden' required value='0' name='answer' />";

                    modal.find('.modal-body form .main').html(hid);
                    modal.find('.modal-body form #account').html(hid);
                }


            })


        });
    </script>
{% endblock %}
