{% extends 'client/base/base.html.twig' %}

{% block main %}
    <div class="wrapper compact-wrapper">

        {% if app.user.role.code =="ROLE_CLIENT" %}
            {% include 'client/dashboard_client_nav.html.twig' %}

        {% elseif app.user.role.code in ["ROLE_MANAGER_COMPANY","ROLE_TECHNICIAN_COMPANY","ROLE_TECHNICIAN_PERSON"]  %}
            {% include 'client/dashboard_technician_nav.html.twig' %}
        {% else %}
            {% include 'client/dashboard_nav.html.twig' %}
        {% endif %}



        <div class="main-panel " style="margin-top: -65px">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">

                            <div class="">
                                <h2 class="text-white pb-2 fw-bold">{{ 'notifications'|trans }} </h2>

                            </div>
                            <div class="row ml-md-auto py-2 py-md-0 short-nav">
                                {% if app.user.role.code == "ROLE_CLIENT" %}
                                    {% include 'client/shortcut_client_nav.html.twig' %}
                                {% elseif app.user.role.code in ["ROLE_SADMIN","ROLE_ADMIN","ROLE_OPERATOR"] %}
                                    {% include 'client/shortcut_admin_nav.html.twig' %}

                                {% endif %}


                            </div>


                        </div>



                    </div>
                </div>
                <div class="dash page-inner mt--5">

                    <div class="row container-fluid mb-5 mt-5">
                        <ul class="list-unstyled">
                        {% for notif in notifications %}



                            <li class="">

                                <div class="col-md-12 col-lg-12">
                                    <img width="35" height="35" src="{{ asset('assets/uploads/'~notif.notification.user.picture.path) }}">
                                    <a href="#" class="font-weight-bold">{{ notif.notification.user.surname }} {{ notif.notification.user.name }}</a>
                                    {{ notif.message }}

                                    {% if notif.notification.code <= 3  %}
                                        {{ 'msg_for_job'|trans }}

                                    <a href="{{ path('web_show_job',{slug:notif.notification.quote.intervention.slug}) }}">{{ notif.notification.quote.intervention.title }}</a>



                                    {% elseif notif.notification.code >= 4 and notif.notification.code<=7 %}
                                        {{ 'msg_for_job'|trans }}

                                        <a href="#">{{ notif.notification.intervention.title }}</a>

                                    {% else %}

                                        {% if (notif.notification.code > 7 and notif.notification.code<=10) %}

                                            <a href="{{ path('web_profile',{'name':app.user.profileName, 'id':app.user.uid}) }}">{{ 'profile'|trans }}</a>


                                         {% else %}

                                            <a href="#">{{ 'transactions'|trans }}</a>

                                        {% endif %}

                                    {% endif %}




                                    <span class="post-date fonts-italic">{{ notif.date | localizeddate('long', 'medium', app.request.cookies.get("lang")) }}</span>
                                </div>
                                <hr/>
                            </li>


                        {% endfor %}
                        </ul>
                    </div>
                    {% if notifications|length >= 20 or page>=1 %}
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="text-center mt-3">
                                <ul class="pagination d-block mx-auto">

                                 {% for i in 1..total_page %}
                                     <li class="{% if page == i %}active{% endif %}"><a href="{{ path('web_notifications',{'p':i}) }}">{{ i }}</a></li>


                                 {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
                {% include 'client/base/dashboard_footer.html.twig' %}
            </div>
        </div>




    </div>



{% endblock %}

{% block footer %}

{% endblock %}

{% block js %}

    <script >
        $(document).ready(function() {
            $('#job-datatables').DataTable({
            });

            $('#user-add').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget); // Button that triggered the modal



                if(button[0].id == "new-operator")
                {
                    var modal = $(this);
                    modal.find('.modal-title').text("{{ 'new_operator'|trans }}");
                    modal.find('.modal-body form #account').html("<option value='5' selected >{% trans %}operator{% endtrans %}</option>");
                }

                if(button[0].id == "new-admin")
                {
                    var modal = $(this);
                    modal.find('.modal-title').text("{{ 'new_admin'|trans }}");
                    modal.find('.modal-body form #account').html("<option value='6' selected >{% trans %}admin{% endtrans %}</option>");
                }








            })


        });
    </script>
{% endblock %}
