{% extends 'client/base/base.html.twig' %}

{% block main %}
    <div class="wrapper compact-wrapper">

        {% include 'client/dashboard_nav.html.twig' %}



        <div class="main-panel " style="margin-top: -65px">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <div>
                                <h2 class="text-white pb-2 fw-bold">{{ 'domain'|trans }}: {{ domain.name }}</h2>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="dash page-inner mt--5">

                    <div class="row container-fluid mb-5 mt-5">
                        <form action="" method="POST" enctype="multipart/form-data" class="container-fluid" >

                            <div class="main row ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name_en">{{ 'english_name'|trans }}</label>
                                            <input id="name_en" type="text" minlength="3" class="form-control" name="name_en" value="{% if domain.nameEn is defined %}{{domain.nameEn}}{% endif %}" required autofocus>
                                            <div class="invalid-feedback">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name_fr">{{ 'french_name'|trans }}</label>
                                            <input id="name_fr" type="text" minlength="3" class="form-control" name="name_fr" value="{% if domain.nameFr is defined %}{{domain.nameFr}}{% endif %}" required autofocus>
                                            <div class="invalid-feedback">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <button  style="border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;" type="submit" class="  btn-primary btn-block">
                                        {{ 'update'|trans }}
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                {% include 'client/base/dashboard_footer.html.twig' %}
            </div>
        </div>



    </div>



{% endblock %}


{% block footer %}

{% endblock %}

{% block js %}


{% endblock %}
