{% extends 'client/base/base.html.twig' %}

{% block main %}
    <div class="wrapper compact-wrapper">

        {% include 'client/dashboard_client_nav.html.twig' %}

        <div class="main-panel " style="margin-top: -65px">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <div>
                                <h2 class="text-white pb-2 fw-bold">{{ 'dashboard'|trans }}</h2>

                            </div>
                            <div class="ml-md-auto py-2 py-md-0 short-nav">
                                {% include 'client/shortcut_client_nav.html.twig' %}

                            </div>

                        </div>
                    </div>
                </div>
                <div class="dash page-inner mt--5">
                    <div class="row row-card-no-pd mt--2">

                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fas flaticon-shopping-bag text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-stats">
                                            <div class="numbers">
                                                <p class="card-category">{{ 'posted_jobs'|trans }}</p>
                                                <h4 class="card-title">{{ data.jobs }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-star text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-stats">
                                            <div class="numbers">
                                                <p class="card-category">{{ 'reviewed'|trans }}</p>
                                                <h4 class="card-title">{{ data.reviewed }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="icon-wallet text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-stats">
                                            <div class="numbers">
                                                <p class="card-category">{{ 'money_spent'|trans }}</p>
                                                <h4 class="card-title">{{ data.earning }} XAF</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% include 'client/base/dashboard_footer.html.twig' %}
            </div>
        </div>


    </div>


{% block footer %}

{% endblock %}

{% endblock %}

{% block js %}

{% endblock %}
