<div class="modal fade" id="apply-job" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'candidature'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <nav class="nav nav-pills">
                    <a  class="nav-item nav-link active col-md-6" href="#p1" data-toggle="tab">{{ 'submit_proposal'|trans|upper }}</a>
                    <a  class="nav-item nav-link col-md-6" href="#p2" data-toggle="tab">{{ 'submit_devis'|trans|upper }}</a>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane active" id="p1">

                        <form action="{{ path('web_job_quotation',{slug:job.slug,id:job.id}) }}" method="POST"  class="container-fluid " >

                            <div class="row">

                                <div class="col-md-12 col-lg-12">
                                    <div class="my_profile_input form-group">
                                        <label for="start_date2">{{ 'start_date'|trans }}</label>
                                        <small>({{ 'new_job_date_message'|trans }})</small>
                                        <input  type="text" value="{{ job.startDate|date('Y/m/d H:i') }}" class="datepicker form-control" id="start_date2" name="start_date3" data-date-start-date="{{ job.startDate|date('Y/m/d H:i') }}" required>
                                        <div class="invalid-feedback">
                                            {{ 'required_field'|trans }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="my_profile_input">
                                        <button type="submit" class="btn btn-lg btn-thm" href="#">{{ 'send'|trans }}</button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="tab-pane" id="p2">

                        <form action="{{ path('web_job_quotation',{slug:job.slug,id:job.id}) }}" method="POST"  class="container-fluid " >

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="my_resume_textarea">
                                        <div class="form-group">
                                            <label for="description1">{{ 'job_devis_message'|trans }}</label>
                                            <small>({{ 'job_devis_length'|trans }})</small>
                                            <textarea minlength="100"  required class="form-control" id="description1" rows="4" name="description1" placeholder=""  ></textarea>
                                            <div class="invalid-feedback">
                                                {{ 'required_field'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12">
                                    <div class="my_profile_input form-group">
                                        <label for="start_date3">{{ 'start_date'|trans }}</label>

                                        <input  type="text" value="{{ job.startDate|date('Y/m/d H:i') }}" class="datepicker form-control" id="start_date3" name="start_date3" data-date-start-date="{{ job.startDate|date('Y/m/d H:i') }}" required>
                                        <div class="invalid-feedback">
                                            {{ 'required_field'|trans }}
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none" class="col-lg-12 col-md-12" >
                                    <div class="my_profile_input form-group">

                                            <label>{{ 'material_need'|trans }} ?</label>
                                        <button id="btn-add-material" type="button" class="btn btn-primary btn-sm">{{ 'add'|trans }}</button>
                                            <div id="list-material" class="my_resume_textarea">

                                            </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="my_profile_input">
                                        <button type="submit" class="btn btn-lg btn-thm" href="#">{{ 'send'|trans }}</button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button style="border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;" type="button" class=" btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>