<a href="{{ path('web_dashboard') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-desktop"></i> </a>
<a href="{{ path('web_dashboard_user') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-user"></i> </a>
<a href="{{ path('web_dashboard_job') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas flaticon-shopping-bag"></i> </a>
<a href="{{ path('web_dashboard_domain') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-building"></i> </a>
<a href="{{ path('web_dashboard_material') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-toolbox"></i> </a>
<a href="{{ path('web_dashboard_category') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-object-group"></i> </a>
<a href="{{ path('web_dashboard_alerts') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-life-ring"></i> </a>
