<li  class="job-listing with-apply-button">


    <div class="job-listing-details">


        <div class="job-listing-company-logo">
            <img src="{% if q.technician.role.code !="ROLE_MANAGER_COMPANY" %} {{ asset('assets/uploads/'~q.technician.picture.path) }}{% else %} {{ asset('assets/uploads/'~q.technician.company.logo.path) }} {% endif %}" alt="" class="img-fluid rounded-circle">
        </div>


        <div class="job-listing-description">
            <h3 class="job-listing-title">
                <a  style="color: grey!important;" href="{{ path('web_profile_tech',{name:q.technician.profileName,id:q.technician.uid}) }}" class="text-dark d-block">{% if q.technician.role.code !="ROLE_MANAGER_COMPANY" %} {{ q.technician.surname }} {{ q.technician.name }}  {% else %} {{ q.technician.company.name }}  {% endif %}
                </a>

                <small>
                    {% if q.technician.userDetail is not null %}
                        {% if q.technician.userDetail.note==0 %}
                            {% for i in 1..5-q.technician.userDetail.note %}
                                <img src="{{ asset('assets/images/star_no.png') }}" width="20" />
                            {% endfor %}
                        {% else %}
                            {% for i in 0..q.technician.userDetail.note-1 %}
                                <img src="{{ asset('assets/images/star_ok.png') }}" width="20" />
                            {% endfor %}

                            {% if q.technician.userDetail.note <5 %}
                                {% for i in 1..5-q.technician.userDetail.note %}
                                    <img src="{{ asset('assets/images/star_no.png') }}" width="20" />
                                {% endfor %}

                            {% endif %}


                        {% endif %}

                    {% else %}

                        {% if q.technician.company.note==0 %}
                            {% for i in 1..5-q.technician.company.note %}
                                <img src="{{ asset('assets/images/star_no.png') }}" width="20" />
                            {% endfor %}
                        {% else %}
                            {% for i in 0..q.technician.company.note-1 %}
                                <img src="{{ asset('assets/images/star_ok.png') }}" width="20" />
                            {% endfor %}

                            {% if q.technician.company.note <5 %}
                                {% for i in 1..5-q.technician.company.note %}
                                    <img src="{{ asset('assets/images/star_no.png') }}" width="20" />
                                {% endfor %}

                            {% endif %}


                        {% endif %}
                    {% endif %}
                </small></h3><div class="job-listing-footer"><ul><li><i class="icon-material-outline-location-on"></i> {% if q.technician.role.code !="ROLE_MANAGER_COMPANY" %} {{ q.technician.location.city }} , {{ q.technician.location.quater }}{% else %} {{ q.technician.company.location.city }} , {{ q.technician.company.location.quater }}  {% endif %}</li>

                    <li><i class="icon-material-outline-business"></i> {% if q.technician.role.code !="ROLE_MANAGER_COMPANY" %} {{ 'technician'|trans }} {% else %}{{ 'company'|trans }}   {% endif %} <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>

                    <li><i class="icon-material-outline-access-time"></i> {{ q.date|date('y-m-d H:i:s')|timeago }}</li>
                </ul></div></div><button class="btn btn-success"> <span class="list-apply-button ripple-effect">
                Apply Now</span></button></div></li>